listen stats
    bind :9000
    stats enable
    mode tcp
#   mode http
    stats uri /stats
    stats auth e:3
    timeout client 10000
    timeout connect 10000
    timeout server 10000
defaults
    timeout client 10000
    timeout connect 10000
    timeout server 10000
frontend  kube.api
    bind :6443
    default_backend kube.api
backend kube.api
    server 151 192.168.50.151:6443 check
    server 150 192.168.50.150:6443 check
    server 149 192.168.50.149:6443 check
